<h1>Edit Task</h1>

<form method="POST" action="<%= task_url @task %>">
  <input type="hidden" name="_method" value="PUT">
  <label>Description</label>
  <br>
  <input type="text" name="task[description]" value="<%= @task.description %>"><br>
  <label>Status</label>
  <br>
  <input type="text" name="task[status]" value="<%= @task.status %>"><br>

  <select name="task[project_id]">
    <% @projects.each do |project| %>
      <option value="<%= project.id %>" <%= project == @task.project ? "selected" : "" %>><%= project.description %></option>
    <% end %>
  </select>
  <input type="submit">
</form>